<!DOCTYPE html>
<head>
    <title>Lista Utenti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body { font-family: Arial; padding: 20px; background-color: #f5f7fa}
        h1{text-align: center;}
    </style>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Lista Utenti</h1>
<br>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Ruolo</th>
        <th scope="col">Libero</th>
        <th scope="col">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${utenti}">
        <th scope="row" th:text="${u.idUtente}">1</th>
        <td th:text="${u.username}">admin</td>
        <td th:text="${u.email}">admin@mail</td>
        <td th:text="${u.ruolo}">ADMIN</td>
        <td th:text="${u.libero} ? 'si' : 'no'">si</td>
        <td><a class="btn btn-primary" th:href="@{/admin/utenti/modifica (id=${u.idUtente})}" role="button">Modifica</a>
            <a class="btn btn-danger" th:href="@{/admin/utenti/cancella (id=${u.idUtente})}" role="button">Cancella</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a class="btn btn-secondary" th:href="@{/home}" role="button">← Torna alla Home</a>

</body>
</html>