<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Utenti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        body { font-family: Arial; padding: 20px; background-color: #f5f7fa}
        h1{text-align: center;}
    </style>
</head>
<body>
<h2 class="text-center mb-4">
    Lista Utenti &nbsp;
    <a th:href="@{/home}" class="text-primary" style="text-decoration:none;">
        <i class="bi bi-house-door-fill"></i>
    </a>
</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Ruolo</th>
        <th scope="col">Ticket Assegnati</th>
        <th scope="col">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${utenti}">
        <th scope="row" th:text="${u.idUtente}">1</th>
        <td th:text="${u.username}">admin</td>
        <td th:text="${u.email}">admin@mail</td>
        <td th:text="${u.ruolo}">ADMIN</td>
        <td th:text="${u.ticketAssegnati}">1</td>
        <td>
            <a class="btn btn-primary" th:href="@{/admin/utenti/modifica (id=${u.idUtente})}" role="button">Modifica</a>
            <a class="btn btn-danger" th:href="@{/admin/utenti/cancella (id=${u.idUtente})}" th:if="${!u.deleted}" role="button">Cancella</a>
            <a class="btn btn-success" th:href="@{/admin/utenti/ripristina (id=${u.idUtente})}" th:if="${u.deleted}" role="button">Ripristina</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>