
###############################
# Java & Maven
###############################

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven target directory
/target/

# Maven build
.mvn/timing.properties

###############################
# IntelliJ IDEA
###############################

# IntelliJ project files
*.iml
*.ipr
*.iws

# IDEA folders
.idea/
out/

###############################
# OS files
###############################

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

###############################
# Lombok
###############################
/lombok.config

###############################
# Spring Boot specifics
###############################

# Logs
logs/
*.log

# Spring dev tools
.spring-boot-devtools.properties

###############################
# Other
###############################

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Node modules (if you later add frontend here)
node_modules/

# Environment variables file (if present)
.env
/jmeter/jmx/load_8085.jmx
/jmeter/jmx/smoke_8085.jmx
/jmeter/jmx/UploadBase64Test.jmx
/jmeter/results/utenteUploadFile-5users001.jtl
/jmeter/results/utenteUploadFile-5users002.jtl
/jmeter/results/utenteUploadFile-5users003.jtl
/jmeter/results/utenteUploadFile-5users004.jtl
/jmeter/results/utenteUploadFile-5users005.jtl
/jmeter/results/utenteUploadFile-5users006.jtl
/jmeter/results/utenteUploadFile-5users007.jtl
/jmeter/results/utenteUploadFile-5users008.jtl
/jmeter/results/utenteUploadFile-5users009.jtl
/jmeter/results/utenteUploadFile-5users010.jtl
/jmeter/results/utenteUploadFile-5users011.jtl
/jmeter/results/utenteUploadFile-5users012.jtl
/jmeter/results/utenteUploadFile-5users013.jtl
/jmeter/results/utenteUploadFile-5users014.jtl
/jmeter/results/utenteUploadFile-5users015.jtl
/jmeter/results/utenteUploadFile-5users016.jtl
/jmeter/results/utenteUploadFile-5users017.jtl
/jmeter/results/utenteUploadFile-5users018.jtl
/jmeter/results/utenteUploadFile-5users019.jtl
/jmeter/results/utenteUploadFile-5users020.jtl
/jmeter/results/utenteUploadFile-5users021.jtl
/jmeter/results/utenteUploadFile-5users022.jtl
/jmeter/results/utenteUploadFile-5users023.jtl
/jmeter/results/utenteUploadFile-5users024.jtl
/jmeter/results/utenteUploadFile-5users025.jtl
/jmeter/results/utenteUploadFile-5users026.jtl
/jmeter/results/utenteUploadFile-5users027.jtl
/jmeter/results/utenteUploadFile-5users028.jtl
/jmeter/results/utenteUploadFile-5users029.jtl
/jmeter/results/utenteUploadFile-5users030.jtl
/jmeter/results/utenteUploadFile-5users031.jtl
/jmeter/results/utenteUploadFile-5users032.jtl
/jmeter/results/utenteUploadFile-5users033.jtl
/jmeter/results/utenteUploadFile-5users034.jtl
/jmeter/results/utenteUploadFile-5users035.jtl
/jmeter/results/utenteUploadFile-5users036.jtl
/jmeter/results/utenteUploadFile-5users037.jtl
/jmeter/results/utenteUploadFile-5users038.jtl
/jmeter/results/utenteUploadFile-5users039.jtl
/jmeter/results/utenteUploadFile-5users040.jtl
/jmeter/results/utenteUploadFile-5users041.jtl
/jmeter/results/utenteUploadFile-5users042.jtl
/jmeter/results/utenteUploadFile-5users043.jtl
/jmeter/results/utenteUploadFile-5users044.jtl
/jmeter/results/utenteUploadFile-5users045.jtl
/jmeter/results/utenteUploadFile-5users046.jtl
/jmeter/results/utenteUploadFile-5users047.jtl
/jmeter/results/utenteUploadFile-5users048.jtl
/jmeter/results/utenteUploadFile-5users049.jtl
/jmeter/results/utenteUploadFile-5users050.jtl
/jmeter/results/utenteUploadFile-5users051.jtl
/jmeter/results/utenteUploadFile-5users053.jtl
/jmeter/results/utenteUploadFile-5users054.jtl
/jmeter/results/utenteUploadFile-5users055.jtl
/jmeter/results/utenteUploadFile-5users056.jtl
/jmeter/results/utenteUploadFile-5users057.jtl
/jmeter/results/utenteUploadFile-5users058.jtl
/jmeter/results/utenteUploadFile-5users059.jtl
/jmeter/results/utenteUploadFile-5users060.jtl
/jmeter/results/utenteUploadFile-5users061.jtl
/jmeter/results/utenteUploadFile-5users062.jtl
/jmeter/results/utenteUploadFile-5users063.jtl
/jmeter/results/utenteUploadFile-5users064.jtl
/jmeter/results/utenteUploadFile-5users065.jtl
/jmeter/results/utenteUploadFile-5users066.jtl
/jmeter/results/utenteUploadFile-5users067.jtl
/jmeter/results/utenteUploadFile-5users068.jtl
/jmeter/results/utenteUploadFile-5users069.jtl
/jmeter/results/utenteUploadFile-5users070.jtl
/jmeter/results/utenteUploadFile-5users071.jtl
/jmeter/results/utenteUploadFile-5users072.jtl
/jmeter/results/utenteUploadFile-5users073.jtl
/jmeter/results/utenteUploadFile-5users074.jtl
/jmeter/results/utenteUploadFile-5users075.jtl
/jmeter/results/utenteUploadFile-5users076.jtl
/jmeter/results/utenteUploadFile-5users077.jtl
/jmeter/results/utenteUploadFile-5users078jtl
