<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <!-- LOG SU CONSOLE -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- LOG SU FILE -->
        <RollingFile name="FileAppender"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout>
                <pattern>%d [%t] %-5p %c - %m%n</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

        </RollingFile>

        <!-- LOG JSON PER ELK/ANALYTICS -->
        <RollingFile name="JsonAppender"
                     fileName="logs/app-json.log"
                     filePattern="logs/app-json-%d{yyyy-MM-dd}-%i.log.gz">

            <JsonLayout complete="false" compact="true"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="JsonAppender"/>
        </Root>
    </Loggers>

</Configuration>