<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Commenti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body { font-family: Arial; padding: 20px; background-color: #f5f7fa}
        h1{text-align: center;}
    </style>
</head>
<body>
<h1>Lista Commenti</h1>
<br>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Testo</th>
        <th scope="col">Tipo</th>
        <th scope="col">Data</th>
        <th scope="col">Codice Ticket</th>
        <th scope="col">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${commenti}">
        <th scope="row" th:text="${c.idCommento}">1</th>
        <td th:text="${c.testo}">testo</td>
        <td th:text="${c.tipo}">tipo</td>
        <td th:text="${c.data_ora}">data</td>
        <td th:text="${c.ticket != null ? c.ticket.idTicket : '-'}">1</td>
        <td>
            <a class="btn btn-primary" th:href="@{/cliente/commenti/modifica (id=${c.idCommento})}" role="button">Modifica</a>
            <a class="btn btn-danger" th:href="@{/cliente/commenti/cancella (id=${c.idCommento})}" th:if="${!c.deleted}" role="button">Cancella</a>
            <a class="btn btn-success" th:href="@{/cliente/commenti/ripristina (id=${c.idCommento})}" th:if="${c.deleted}" role="button">Ripristina</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a class="btn btn-success" th:href="@{/cliente/commenti/crea}" role="button">Nuovo commento</a>
<a class="btn btn-primary" th:href="@{/cliente/commenti/cerca}" role="button">Cerca commenti</a>
<a class="btn btn-secondary" th:href="@{/home}" role="button">← Torna alla Home</a>
</body>
</html>