<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cerca Commenti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body { font-family: Arial; padding: 20px; background-color: #f5f7fa}
        h1{text-align: center;}
    </style>
</head>
<body>
<h1>Cerca Commenti</h1>
<hr>
<h3>Per ID</h3>
<form th:action="@{/cliente/commenti/cerca/id}" method="post">

    <input type="number" name="id" placeholder="ID" required>
    <button type="submit">Cerca</button>
</form>

<div th:if="${byId}" class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Testo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col">Ticket</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${byId.idCommento}">1</th>
            <td th:text="${byId.testo}">testo</td>
            <td th:text="${byId.tipo}">tipo</td>
            <td th:text="${byId.data_ora}">Data</td>
            <td th:text="${byId.ticket != null ? byId.ticket.idTicket : '-'}">1</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<h3>Per Tipo</h3>
<form th:action="@{/cliente/commenti/cerca/tipo}" method="post">
    <select name="tipo"><option>INTERNO</option><option>ESTERNO</option></select>
    <button type="submit">Cerca</button>
</form>
<br>

<div th:if="${!#lists.isEmpty(commentiByTipo)}" class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Testo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col">Ticket</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${commentiByTipo}">
            <th scope="row" th:text="${c.idCommento}">1</th>
            <td th:text="${c.testo}">testo</td>
            <td th:text="${c.tipo}">tipo</td>
            <td th:text="${c.data_ora}">Data</td>
            <td th:text="${c.ticket != null ? c.ticket.idTicket : '-'}">1</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>
<br>

<p><a class="btn btn-secondary" th:href="@{/cliente/commenti}" role="button">← Torna indietro</a></p>
</body>
</html>