<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Crea Ticket</h2>
<form th:action="@{/cliente/ticket/crea}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="titolo" placeholder="Titolo" required>
    <input name="descrizione" placeholder="Descrizione">
    <input name="categoria" placeholder="Categoria">
    <input type="number" name="priorita" placeholder="Priorità">
    <input type="datetime-local" name="data_ora_chiusura" placeholder="Data chiusura">
    <input type="number" name="sla" placeholder="sla">
    <button type="submit">Crea</button>
</form>

<p th:if="${success}" th:text="${success}"></p>
<pre th:if="${result}" th:text="${result}"></pre>
<p><a th:href="@{/home}">← Torna alla Home</a></p>
</body>
</html>